@page "/shop/weapons"
<h3>Weapons</h3>
@if (Weapons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span>Cash: @Cash</span>
    <br />
    <span>Weapon: @Weapon</span>
    <br />
    <ul>
        @foreach (var weapon in Weapons)
        {
            <li>Name: @(weapon.Name)</li>
            <li>Attack: @(weapon.Attack)</li>
            <li>Value: @(weapon.Value)</li>
            <li><button onclick=@(()=>Buy(weapon.Id))>Buy</button></li>
        }
    </ul>
}
<a href="@($"/shop")">Back</a>
