@page "/mission"
<h1>Mission</h1>


@if (Missions == null)
{
    if (IsMissionFinished)
    {
        <button onclick=@FetchMissions()>OK</button>
    }
    else
    {
        <h3>@Time</h3>
    }
}
else
{
    foreach (var mission in Missions)
    {
        <span>Name: @mission.Name</span>
        <span>Description: @mission.Description</span>
        <span>Duration: @mission.Duration</span>
        <span>Reward: @mission.Reward</span>
        <br />
        <button onclick=@(() => StartMission(mission.Id,mission.Duration))>Start</button>
    }
}